<header class="header">
  <nav class="wrapper">
    <div class="img-wrapper logo">
      <a routerLink="home">
        <img src="assets/images/logo.jpg" alt="">
      </a>
    </div>
    <ul class="nav-group">
      <li class="nav-element" routerLinkActive="active"><a routerLink="services">Услуги</a></li>
      <li class="nav-element" routerLinkActive="active"><a routerLink="license">Лицензии</a></li>
      <li class="nav-element" routerLinkActive="active"><a routerLink="contacts">Контакты</a></li>
    </ul>
  </nav>
</header>
