<div class="list-group">
  <div class="list-element service_proj">
    <div class="content-wrapper">
      <div class="content">
        <div class="content__header">
          Проектирование
        </div>
      </div>
    </div>
    <div class="dark-wrapper">
      <div class="dark-content">
        Проектая группа ООО «МК Электросетьстрой» поможет Вам в проектировании сетей электроснабжения до 35 кВ
        включительно и выполнит все необходимые работы
      </div>
    </div>
  </div>

  <div class="list-element service_smu">
    <div class="content-wrapper">
      <div class="content">
        <div class="content__header">
          Строительно-монтажные работы
        </div>

      </div>
    </div>
    <div class="dark-wrapper">
      <div class="dark-content">
        Производственный участок ООО «МК Электросетьстрой» поможет Вам качественно выполнить широкий спектр
        строительно-монтажных работ. Благодаря слаженной работе всех структурных единиц нашей компании Вы сможете
        в сжатые сроки реализовать свои планы по выполнению всех видов работ
      </div>
    </div>
  </div>

  <div class="list-element service_pnr">
    <div class="content-wrapper">
      <div class="content">
        <div class="content__header">
          Пусконаладочные работы
        </div>
      </div>
    </div>
    <div class="dark-wrapper">
      <div class="dark-content">
        Пусконаладочные работы - это комплекс технических мероприятий, начиная от рассмотрения проектной
        документации, анализа принятых проектом технологических решений, на соответствие действующим нормам и
        правилам, и заканчивая вводом данного производства в эксплуатацию
      </div>

    </div>
  </div>

  <div class="list-element service_consult">
    <div class="content-wrapper">
      <div class="content">
        <div class="content__header">
          Консалтинговые услуги
        </div>
      </div>
    </div>
    <div class="dark-wrapper">
      <div class="dark-content">
        Специалисты ООО «МК Электросетьстрой» помогут Вам быть более уверенными в получении исчерпывающей
        информации по изменениям в нормативно-правовой базе и ценообразованию в электроэнергетической сфере
      </div>
    </div>
  </div>

</div>