<section class="main-Slogan">
  <div class="section-content">
    Деятельность ООО «МК «ЭЛЕКТРОСЕТЬСТРОЙ»  направлена на оказание помощи частным лицам и коммерческим структурам в обслуживании энергетики, пожарной и техногенной безопасности, строительстве энергосетей, выявлении проблемных моментов и разработке нормативно-обоснованных экономически выгодных путей решения проблем.
  </div>
</section>

<div class="directions-list">
  <div class="directions-list__separator"></div>
  <div class="left-side">
      <h3>Энергетика</h3>

      <ul>
        <li *ngFor="let service of energyServices"><a  routerLink="/energetics/{{ service.url }}">{{ service.name }}</a></li>
      </ul>
  </div>
  <div class="right-side">
      <ul>
        <li *ngFor="let service of fireServices"><a  routerLink="/fire-safety/{{ service.url }}">{{ service.name }}</a></li>
      </ul>
    <h3>Пожарная безопасность</h3>
  </div>
</div>