<div class="wrapper">
  <div class="intro">
    <div class="content-wrapper">

      <div class="content">
        <div class="content__header">
          Энергоконтракт Плюс
        </div>
        <div class="content__description">
          Профессиональный операционный менеджмент и качественный электромонтаж - залог эффективного сотрудничества с
          Вами
        </div>

      </div>
      <div class="nav-wrapper">
        <ul class="nav-group home-mnu">
          <li *ngFor="let menuItem of menu" class="nav-element" routerLinkActive="active"><a routerLink="/home/{{ menuItem.url }}">{{ menuItem.name }}</a></li>
        </ul>
      </div>
    </div>
  </div>


  <section class="services">
    <router-outlet></router-outlet>
  </section>

  <section class="bottom-banner">

  </section>
</div>